
.icon-form-01:before { content: '\e802'; } /* '' */
.icon-mail-02:before { content: '\e803'; } /* '' */
.icon-call-03:before { content: '\e804'; } /* '' */
.icon-left-open-big:before { content: '\e805'; } /* '' */
.icon-right-open-big:before { content: '\e806'; } /* '' */