body{
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}

h1{
    margin: 0;
    padding: 0;
}

div{
    @include sec;
}

footer{
    @include footer;
}

btn{
    @include button;
}